@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');

@font-face {
    font-family: Sugar Magic;
    src: url(./font/sugar_magic/Sugar\ Magic\ -\ Personal\ Use\ Only.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-inline: 30px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
}

header .header span {
    word-spacing: 10px;
    font-family: Sugar Magic;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

body {
    background-color: #E86C9C;
}

/* main */
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
}

.container {
    display: flex;
    align-items: center;
    column-gap: 10rem;
    margin-inline: 30px;

}

.content .content_description {
    font-size: 20px;
    color: white;
    word-spacing: 10px;
    position: relative;
}

.content .content_description i.top {
    font-size: 10rem;
    color: #2abfff45;
    position: absolute;
    top: -40%;
    left: -40px;
    z-index: -100;
}

.content .content_description i.bottom {
    font-size: 10rem;
    color: #2abfff45;
    position: absolute;
    z-index: -100;
    right: 0;
    top: 50%;
} 

.message_content .message_title {
    background-color: #FDF9F3;
    box-shadow: 3px 3px 0 1px #2ABFFF;
    width: 600px;
    height: 40px;
    display: flex;
    column-gap: 1rem;
    /* justify-content: center;  */
    align-items: center;
    padding-left: 10px;
}

.hearts img {
    width: 30px;
}

.message_content .message_title span {
    font-family: Sugar Magic;
    font-size: 24px;
    color: #2D3240;
}

.message_content .message_box {
    background-image: url(./images/box.png);
    background-color: #FDF9F3;
    background-position: center;
    background-size: contain;
    box-shadow: 3px 3px 0 1px #2ABFFF;
    height: 280px;
    width: 600px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message_content .message_box p {
    margin-top: -50px;
    font-size: 22px;
    width: 400px;
    font-family: "Playwrite ES Deco", cursive;
}

.first_vector {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    z-index: -1;
}

.message_btn {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.message_btn button {
    font-size: 14px;
    color: red;
    padding: 10px 30px;
    border: none;
    background-color: #FFEA56;
    box-shadow: 3px 3px 0 1px #2ABFFF;
    cursor: pointer;
}

.message_btn button:hover {
    transform: translateY(-2px);
}